body {
  font-family: 'Poppins', sans-serif;
}

/* body {
  font-family: 'Montserrat', sans-serif;
} */

/* body {
  font-family: 'Rubik', sans-serif;
} */

@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, synthwave --prefersdark;
 }
 